body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.navbar-default {
  background-color: rgb(241, 247, 247);
  border-color: #fff;
}
.modal-dialog {
  width: 400px;
  margin: 30px auto;
}
.marginTop10{margin-top: 15%;}



